<div class="container">
	{{map-viewer startAddr=currentStart endAddr=currentEnd sendPolylineToStore='sendPolylineToStore'}}

	<hr />

	{{#bs-form formLayout=formLayout model=this onSubmit=(action "addrSubmit") as |form|}}
			{{form.element controlType="text" label="Start Addr" property="addrStart" value=addrStart}}
			{{form.element controlType="text" label="End Addr" property="addrEnd" value=addrEnd}}
		{{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
	{{/bs-form}}

	<hr />
	
	{{weather-list currentPoly=currentPoly sendWeatherToStore='sendWeatherToStore' weathers=weathers}}

	<hr />

	{{#each maps as |map|}}

		<div class="well">
			<p>A maps: </p>
			{{map.addrStart}}

			{{map.addrEnd}}
		</div>
	{{/each}}



	{{outlet}}
</div>
