<div class="container">
	{{map-viewer startAddr=currentStart endAddr=currentEnd sendPolylineToStore='sendPolylineToStore'}}

	<hr />

	<form>
	  <div class="form-group">
	    <label>Start Address</label>
	    {{input type="text" class="form-control" value=addrStart placeholder="Oakland, CA"}}
	  </div>

	  <div class="form-group">
	    <label>End Address</label>
	    {{input type="text" class="form-control" value=addrEnd placeholder="Emeryville, CA"}}
	  </div>

	  <button {{action 'addrSubmit'}} class="btn btn-primary">Submit</button>
	</form>

	<hr />
	
	{{weather-list currentPoly=currentPoly sendWeatherToStore='sendWeatherToStore' weathers=weathers}}

	<hr />

	{{#each maps as |map|}}

		<div class="well">
			<p>A maps: </p>
			{{map.addrStart}}

			{{map.addrEnd}}
		</div>
	{{/each}}



	{{outlet}}
</div>
